{% extends 'base.html' %}

{% block title %}Удаление проекта {{ project.id }}{% endblock %}

{% block content %}

<div class="container ">
    <div style="width: 30rem;">

        <br>
        <h5 class="title text-danger">Удаление проекта</h5>
        <br>

        <form method="post" action="{% url 'projectdelete' project.id %}">

            <div class="mb-10">

                <p> Вы дествительно хотите <b>безвовзратно</b> удалить проект '{{ project.name }}' ?</p>

            </div>

            {% csrf_token %}


            {% if form.errors or form.non_field_errors %}
            <div class="list-group text-warning">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>            
            {% endif %}

            <div class="d-flex justify-content-between flex-wrap">
                <div class = "col-sm-8">
                    <button type="submit" class="btn btn-danger btn-block">Удалить</button>
                </div>
                <div class="col-sm-2 ">
                    <input type="button" class = "btn btn-info" onclick="history.back();" value="Назад"/>        </form>
                </div>
            </div>            
    </div>
</div>


{% endblock content %}