{% extends 'base.html' %}

{% block title %}Новая задача {{ task.id }}{% endblock %}

{% block content %}

<div class="container ">
    <div style="width: 30rem;">

        <br>
        <h5 class="title">Новая задача</h5>
        <br>

        <form method="post" action="{% url 'tasknew' %}">

            <div class="mb-3">
                <label class="form-label">Название</label>
                {{ form.name }}
            </div>
            <div class="mb-3">
                <label class="form-label">Текст задачи</label>
                {{ form.content }}
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Статус</label>
                <div class="col-sm-8">
                    {{ form.status }}
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Исполнитель</label>
                <div class="col-sm-8">
                    {{ form.executor }}
                </div>
            </div>
            
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Проект</label>
                <div class="col-sm-8">
                    {{ form.project }}
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Спринт</label>
                <div class="col-sm-8">
                    {{ form.sprint }}
                </div>
            </div>

            {% csrf_token %}


            {% if form.errors or form.non_field_errors %}
            <div class="list-group text-warning">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>            
            {% endif %}

            <button type="submit" class="btn btn-primary btn-block mb-4">Создать</button>
        </form>

        <div>
            <input type="button" class = "btn btn-info" onclick="history.back();" value="Назад"/>        
        </div>
    </div>
</div>


{% endblock content %}